<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Playball&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Lateef&family=Playball&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Estandares de calidad.</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                    <a href="">Soporte</a>
                    <a href="">Nosotros</a>
                    <a href="" class="volver">Volver</a>
                </li>
            </ul>
        </nav>
    </header>/*Se usa font-family: 'Lateef', cursive; para texto*/
    <section class="cont1-img">
        <img src="../static/images/Estandares.png" class="testing">
    </section>
    <section class="cont1">
        <h1>Introducción </h1>
        <p>Los estándares de calidad de software hacen parte de la ingeniería de software, utilización de estándares y metodologías para <br>
            el diseño, programación, prueba y análisis del software desarrollado, con el objetivo de ofrecer una mayor contabilidad,<br>
            mantenibilidad en concordancia con los requisitos exigidos, con esto se eleva la productividad y el control en la calidad de<br>
            software, parte de la gestión de la calidad se establecen a mejorar su eficacia y eficiencia.<br>
            En un escenario en el que los sistemas de software se desarrollan y construyen por terceros proveedores, el contratante del<br>
            servicio, como primer receptor del mismo, en muchos casos debe contar en el buen hacer del proveedor seleccionado,<br>
            especialmente si nos dispone de los medios apropiados para auditar la entrega y en su caso argumentar defectos en el proceso<br>
            de desarrollo.<br>
            En general, una vez validado que el sistema responde a los principales requisitos funcionales especificados, el usuario realizará<br>
            las pruebas de aceptación, corrigiendo los errores encontrados y tas pasándose al fin del entorno de producción. Sin embargo,<br>
            en muy pocas ocasiones se validan de manera rigurosa los requisitos funcionales y los no funcionales, o se ejecutan<br>
            validaciones que aseguren que el sistema es lo suficientemente robusto y estable como para pasar a un entorno productivo con<br>
            las garantías adecuadas.</p>
    </section>
</body>
</html>